.server_window {
    width: 320px;
    margin: 1rem auto
}
.server_img {
    width: 45%;
    padding: 0.5rem 0;
}
.charge {
    color: darkmagenta;
    padding: 0.39rem 3px;
}
.loader {
    padding: 77px 0;
}
.switch {
    color: blue;
}
.field {
    padding: 0.39rem 3px;
}